.button {
    background-color: #c18a8e;
    border: solid;
    border-color: black;
    border-width: 1px;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
    border-radius: 8px;
}
body {
    background-color: #95c3e3;
    font-family: Arial;
    font-size: 15px;
    display: flex;
    justify-content: center;
}
.label {
    border-color: lemonchiffon;
    border-width: 3px;
    border-style: solid;
    font-size: 25px;
    font-family: 'Lucida Fax';
    background-color: pink;
}